@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }
}

/* Wallet adapter overrides */
.wallet-adapter-button {
  @apply !bg-purple-600 hover:!bg-purple-700 !rounded-lg !text-sm !h-10;
}

.wallet-adapter-modal-wrapper {
  @apply !bg-gray-900 !rounded-2xl;
}
